body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.well {
  width:500px;
  height: 250px;
  background-color: lightblue;
}
.thumbnail {
  width: 150px;
  height: 150px;
}
