body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('http://www.webdesigndevelopers.co.nz/web_design_tutorials/designer_website_resources/1425-seamless-floral-background.jpg');
}

a {
  color: #00B7FF;
}

.well {
  width:900px;
  height: 250px;
  background-color: lightblue;
  overflow: scroll;
  border-radius: 20px;
}
.thumbnail {
  width: 150px;
  height: 150px;
}

.shape {
  font-size: 12px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    text-align: justify;
    -webkit-hyphens: manual;
    -webkit-shape-inside: polygon(0px 0px, 0 300px, 300px 300px);
}
